# Exploratory Data Analysis (EDA)

## Описание
В данном ноутбуке проводится исследовательский анализ синтетических данных,
имитирующих поведение пользователей Instagram.

Цель анализа — изучить основные паттерны пользовательской активности
и вовлечённости без построения предиктивных моделей.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path

sns.set(style="whitegrid")

In [3]:
DATA_PATH = Path("../data/processed/instagram_usage_lifestyle_processed.csv")

df = pd.read_csv(DATA_PATH)
df.head()

,user_id,app_name,age,gender,country,urban_rural,income_level,employment_status,education_level,relationship_status,...,average_session_length_minutes,content_type_preference,preferred_content_theme,privacy_setting_level,two_factor_auth_enabled,biometric_login_used,linked_accounts_count,subscription_status,user_engagement_score,activity_score
0,1,Instagram,51,Female,India,Rural,High,Retired,Bachelor’s,Single,...,5.0,Mixed,Tech,Private,Yes,No,0,Free,7.83,1027.0
1,2,Instagram,64,Female,United Kingdom,Urban,Middle,Full-time employed,Other,Divorced,...,14.8,Photos,Fashion,Public,No,No,3,Free,1.43,6175.0
2,3,Instagram,41,Female,Canada,Urban,Middle,Student,Bachelor’s,In a relationship,...,5.0,Mixed,Other,Public,Yes,Yes,1,Free,9.67,10181.0
3,4,Instagram,27,Non-binary,South Korea,Urban,Middle,Unemployed,Master’s,In a relationship,...,25.9,Stories,Tech,Private,No,No,1,Free,0.94,2052.0
4,5,Instagram,55,Male,India,Urban,Upper-middle,Full-time employed,Bachelor’s,Single,...,13.1,Videos,Food,Public,Yes,No,0,Free,1.03,2427.0

In [4]:
df.shape

(1547896, 59)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1547896 entries, 0 to 1547895
Data columns (total 59 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   user_id                         1547896 non-null  int64
 1   app_name                        1547896 non-null  object
 2   age                             1547896 non-null  int64
 3   gender                          1547896 non-null  object
 4   country                         1547896 non-null  object
 5   urban_rural                     1547896 non-null  object
 6   income_level                    1547896 non-null  object
 7   employment_status               1547896 non-null  object
 8   education_level                 1547896 non-null  object
 9   relationship_status             1547896 non-null  object
 10  has_children                    1547896 non-null  object
 11  exercise_hours_per_week         1547896 non-null  float64
 12  sleep_hours_per_night           1547896 non-null  float64
 13  diet_quality                    1547896 non-null  object
 14  smoking                         1547896 non-null  object
 15  alcohol_frequency               1547896 non-null  object
 16  perceived_stress_score          1547896 non-null  int64
 17  self_reported_happiness         1547896 non-null  int64
 18  body_mass_index                 1547896 non-null  float64
 19  blood_pressure_systolic         1547896 non-null  int64
 20  blood_pressure_diastolic        1547896 non-null  int64
 21  daily_steps_count               1547896 non-null  int64
 22  weekly_work_hours               1547896 non-null  float64
 23  hobbies_count                   1547896 non-null  int64
 24  social_events_per_month         1547896 non-null  int64
 25  books_read_per_year             1547896 non-null  int64
 26  volunteer_hours_per_month       1547896 non-null  float64
 27  travel_frequency_per_year       1547896 non-null  int64
 28  daily_active_minutes_instagram  1547896 non-null  float64
 29  sessions_per_day                1547896 non-null  int64
 30  posts_created_per_week          1547896 non-null  int64
 31  reels_watched_per_day           1547896 non-null  int64
 32  stories_viewed_per_day          1547896 non-null  int64
 33  likes_given_per_day             1547896 non-null  int64
 34  comments_written_per_day        1547896 non-null  int64
 35  dms_sent_per_week               1547896 non-null  int64
 36  dms_received_per_week           1547896 non-null  int64
 37  ads_viewed_per_day              1547896 non-null  int64
 38  ads_clicked_per_day             1547896 non-null  int64
 39  time_on_feed_per_day            1547896 non-null  int64
 40  time_on_explore_per_day         1547896 non-null  int64
 41  time_on_messages_per_day        1547896 non-null  int64
 42  time_on_reels_per_day           1547896 non-null  int64
 43  followers_count                 1547896 non-null  int64
 44  following_count                 1547896 non-null  int64
 45  uses_premium_features           1547896 non-null  object
 46  notification_response_rate      1547896 non-null  float64
 47  account_creation_year           1547896 non-null  int64
 48  last_login_date                 1547896 non-null  object
 49  average_session_length_minutes  1547896 non-null  float64
 50  content_type_preference         1547896 non-null  object
 51  preferred_content_theme         1547896 non-null  object
 52  privacy_setting_level           1547896 non-null  object
 53  two_factor_auth_enabled         1547896 non-null  object
 54  biometric_login_used            1547896 non-null  object
 55  linked_accounts_count           1547896 non-null  int64
 56  subscription_status             1547896 non-null  object
 57  user_engagement_score           1547896 non-null  float64
 58  activity_score                  1547896 non-null  float64
dtypes: float64(10), int64(29), object(20)
memory usage: 696.8+ MB

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
user_id,1547896.0,773948.500000,446839.230477,1.00,386974.75,773948.5,1160922.25,1547896.00
age,1547896.0,38.985440,15.294528,13.00,26.00,39.0,52.00,65.00
exercise_hours_per_week,1547896.0,7.143480,3.994556,0.00,4.00,6.6,9.70,24.10
sleep_hours_per_night,1547896.0,6.999384,1.097098,3.00,6.30,7.0,7.70,10.00
perceived_stress_score,1547896.0,19.987738,11.832578,0.00,10.00,20.0,30.00,40.00
self_reported_happiness,1547896.0,5.499804,2.871232,1.00,3.00,5.0,8.00,10.00
body_mass_index,1547896.0,25.000837,3.976188,15.00,22.30,25.0,27.70,45.00
blood_pressure_systolic,1547896.0,124.491714,20.206989,90.00,107.00,124.0,142.00,159.00
blood_pressure_diastolic,1547896.0,79.500074,11.548740,60.00,70.00,79.0,90.00,99.00
daily_steps_count,1547896.0,8000.104562,89.397615,7566.00,7940.00,8000.0,8060.00,8473.00
weekly_work_hours,1547896.0,40.001454,9.997320,0.00,33.20,40.0,46.80,80.00
hobbies_count,1547896.0,2.996140,1.730508,0.00,2.00,3.0,4.00,10.00
social_events_per_month,1547896.0,3.998807,2.000449,0.00,3.00,4.0,5.00,15.00
books_read_per_year,1547896.0,10.001597,3.160761,0.00,8.00,10.0,12.00,29.00
volunteer_hours_per_month,1547896.0,3.997591,2.413619,0.00,2.10,3.6,5.40,17.60
travel_frequency_per_year,1547896.0,2.999713,1.731983,0.00,2.00,3.0,4.00,15.00
daily_active_minutes_instagram,1547896.0,188.229792,110.127772,5.00,101.00,186.0,271.00,580.00
sessions_per_day,1547896.0,10.328970,7.931112,1.00,5.00,9.0,14.00,50.00
posts_created_per_week,1547896.0,5.960338,3.888248,0.00,3.00,5.0,8.00,30.00
reels_watched_per_day,1547896.0,175.608146,76.220396,18.00,117.00,176.0,235.00,300.00
stories_viewed_per_day,1547896.0,101.160040,38.790746,12.00,70.00,104.0,139.00,150.00
likes_given_per_day,1547896.0,119.112153,56.146373,8.00,75.00,118.0,161.00,350.00
comments_written_per_day,1547896.0,34.212935,17.466488,0.00,20.00,33.0,47.00,80.00
dms_sent_per_week,1547896.0,28.815920,12.246584,0.00,19.00,28.0,37.00,94.00
dms_received_per_week,1547896.0,30.583280,14.328500,0.00,19.00,30.0,41.00,90.00
ads_viewed_per_day,1547896.0,20.051228,9.864529,0.00,12.00,19.0,27.00,50.00
ads_clicked_per_day,1547896.0,4.765017,3.104442,0.00,2.00,4.0,7.00,20.00
time_on_feed_per_day,1547896.0,94.130373,56.498369,2.00,50.00,92.0,135.00,328.00
time_on_explore_per_day,1547896.0,37.620369,25.357877,1.00,18.00,34.0,53.00,171.00
time_on_messages_per_day,1547896.0,32.952025,21.445688,1.00,16.00,31.0,47.00,138.00
time_on_reels_per_day,1547896.0,56.476622,35.347818,1.00,29.00,54.0,80.00,222.00
followers_count,1547896.0,2160.542605,3402.015893,10.00,543.00,1154.0,2459.00,208811.00
following_count,1547896.0,2604.941554,2751.922314,20.00,663.00,1519.0,3451.00,10000.00
notification_response_rate,1547896.0,0.500240,0.288783,0.00,0.25,0.5,0.75,1.00
account_creation_year,1547896.0,2017.500762,4.611735,2010.00,2013.00,2017.0,2022.00,2025.00
average_session_length_minutes,1547896.0,20.509713,8.697454,5.00,13.30,20.4,27.60,52.00
linked_accounts_count,1547896.0,1.975254,1.352058,0.00,1.00,2.0,3.00,5.00
user_engagement_score,1547896.0,1.644642,1.812684,0.67,1.00,1.1,1.29,18.67
activity_score,1547896.0,4964.042920,5718.114715,36.00,1455.00,2942.0,6158.00,218927.00

## Первичный обзор данных

- Датасет содержит более 1 млн наблюдений и 50+ признаков.
- Присутствуют как числовые, так и категориальные переменные.
- В данных имеются пропущенные значения, что оправдывает этап очистки в ETL.
- Распределения некоторых числовых признаков имеют широкий диапазон значений.