# Exploratory Data Analysis (EDA)

## Описание
В данном ноутбуке проводится исследовательский анализ синтетических данных,
имитирующих поведение пользователей Instagram.

Цель анализа — изучить основные паттерны пользовательской активности
и вовлечённости без построения предиктивных моделей.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path

sns.set(style="whitegrid")

In [3]:
DATA_PATH = Path("../data/processed/instagram_usage_lifestyle_processed.csv")

df = pd.read_csv(DATA_PATH)
df.head()

,user_id,app_name,age,gender,country,urban_rural,income_level,employment_status,education_level,relationship_status,...,average_session_length_minutes,content_type_preference,preferred_content_theme,privacy_setting_level,two_factor_auth_enabled,biometric_login_used,linked_accounts_count,subscription_status,user_engagement_score,activity_score
0,1,Instagram,51,Female,India,Rural,High,Retired,Bachelor’s,Single,...,5.0,Mixed,Tech,Private,Yes,No,0,Free,7.83,1027.0
1,2,Instagram,64,Female,United Kingdom,Urban,Middle,Full-time employed,Other,Divorced,...,14.8,Photos,Fashion,Public,No,No,3,Free,1.43,6175.0
2,3,Instagram,41,Female,Canada,Urban,Middle,Student,Bachelor’s,In a relationship,...,5.0,Mixed,Other,Public,Yes,Yes,1,Free,9.67,10181.0
3,4,Instagram,27,Non-binary,South Korea,Urban,Middle,Unemployed,Master’s,In a relationship,...,25.9,Stories,Tech,Private,No,No,1,Free,0.94,2052.0
4,5,Instagram,55,Male,India,Urban,Upper-middle,Full-time employed,Bachelor’s,Single,...,13.1,Videos,Food,Public,Yes,No,0,Free,1.03,2427.0